.quote {
    width: 100%;
    margin: 0;
    padding: 16px 16px 16px 12px;
    border-left-width: 3px;
    border-left-style: solid;
}

.icon {
    margin-right: 8px;
}

.textArea {
    white-space: pre-wrap;
}